.container {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  place-items: center flex-start;
  justify-items: stretch;
  padding: 100px 40px 20px 40px;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100vw;
}

.title {
  composes: mainTitle1 from "../../styles.module.css";
  color: white;
}

.subtitle {
  composes: bodyDefault from "../../styles.module.css";
  color: white;
  text-align: center;
  margin: 20px 0px 20px 0px;
  line-height: 150%;
}

.closeButton {
  position: fixed;
  top: 18px;
  right: 18px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.appicon {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.flexer {
  margin: 20px;
}