.invite-status {
  height: 0.4rem;
  width: 0.4rem;
  top: -3px;
  right: -3px;
}

.registered {
  background-color: #31b744
}

.logged-in {
  background-color: #e1d349
}

.not-used {
  background-color: grey;
}

.private {
  border: 0.07rem solid black;
  background-color: #ffffff;
}
