.imagePreview {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    object-position: top;
    border-radius: 8px;
}
.icon {
    width: 8px;
    height: 8px;
    margin: auto;
}
.iconContainer {
    position: relative;
    display: inline-block;
    width: auto;
}
.mimeType {
    bottom: 10px;
    position: absolute;
    text-transform: uppercase;
    left: 6px;
    font-size: 15px;
}
.queueMime {
    font-size: 7px;
}
.previewMimeType {
    padding:10px;
    margin: auto;
    position: absolute;
    width: 77px;
    height: 30px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}
.isQueueItem{
    width: 25px;
    height: 25px;
}
.isPreviewSideBar{
    width: 140px;
    height: 140px;
}