@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Work+Sans:wght@400;500;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap");
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'IBM Plex Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: caluculateRem(34);
  font-weight: 400;
}
h2 {
  font-size: caluculateRem(24);
  font-weight: 400;
}
h3 {
  font-size: caluculateRem(18);
  font-weight: 700;
}
h4 {
  font-size: caluculateRem(20);
  font-weight: 400;
}
h5 {
  font-family: 'Work Sans';
  font-size: caluculateRem(22);
  font-weight: 400;
}
p {
  font-family: 'Work Sans';
  font-size: caluculateRem(32);
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
